{{#unless song}}
  <span class="now-playing-empty">Select a song to start playing.</span>
{{else}}
<img class="now-playing-artwork" src={{song.album.artwork}}>
<div class="now-playing-body">
  <p class="now-playing-details">
    <span class="now-playing-name">{{song.name}}</span> -
    <span class="now-playing-artist">{{song.album.artist}}</span>
  </p>
  <div class="now-playing-player">
    {{audio-control isPlaying=player.isPlaying pause='pause' play='resume'}}
    <p class="duration" {{action 'toggleTime'}}>
      {{#if showRemainingTime}}
        {{format-duration player.remainingTime}}
      {{else}}
        {{format-duration player.currentTime}}
      {{/if}}
    </p>
  </div>
</div>
{{/unless}}
